#cabecera {
    display: flex;
    width: 100%;
}

#cabecera nav {
    margin-left: auto;
    margin-right: 5em;
}

nav {
    float: left;
    clear: both;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul li {
    display: table-cell;
    padding: 0.5em;
    background-color: #B24334;
}


img {
    width: 25%;
    float: left;
}

#contenido {
    display: flex;
}

#principal {
    float: left;
    width: 70%;
}

#secundario {
    float: left;
    width: 20%;
}

#secundario {
    display: block;
    background-color: #D9823B;
}

#rectangulo {
    display: block;
    width: 30%;
    height: 250px;
    width: 100px;
    background-color: #C55C24;
}

#footer {
    float: left;
    display: flex;
    clear: both;
    width: 100%;
}

#cabecera, #footer {
    background-color: #303E4F;
}

a {
    color: white;
    text-decoration: none;
}

hr {
    width: 95%;
}