#cabecera {
    display: flex;
    width: 100%;
}

#cabecera nav {
    margin-left: auto;
    margin-right: 1.5em;
}

nav {
    float: left;
    clear: both;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul li {
    display: table-cell;
    padding: 0.5em;
    background-color: #B24334;
}

#header ul li{
    padding: 0.5em 2.5em;
}


img {
    width: 25%;
    height: auto;
    float: left;
}

#contenido {
    display: flex;
}

#principal {
    float: left;
    width: 75%;
}

#secundario {
    float: left;
    width: 25%;
}

#secundario {
    display: grid;
    background-color: #D9823B;
}

.rectangulo {
    display: block;
    float: left;
    height: 70%;
    width: 80%;
    background-color: #C55C24;
    margin: 2em auto;
}

#footer {
    float: left;
    display: flex;
    clear: both;
    width: 100%;
}

#cabecera, #footer {
    background-color: #303E4F;
}

a {
    color: white;
    text-decoration: none;
}

#footer2 {
    margin-left: auto;
    margin-right: 1.5em;
}

#footer2 ul li {
    background-color: #D9823B;
}

hr {
    width: 95%;
}

article {
    padding: 0.5em;
}